*{
  font-family:'IBM Plex Sans';
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
}
nav{
  background-color: red;
  display: flex;  
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap; 
}
ul{
  display: flex;  
  
  flex-direction: row-reverse;
  flex-wrap: wrap; 
}
li{
  text-decoration: none;
  padding: 10px;
  border:1px solid black;
  list-style-type: none;

}
a{
  color:black;
  text-decoration: none;
}
.padre{
  display: flex;  
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap; 
}
.revisar{
  width: 20%;
  background-color:black ;
}
.informes{
  width: 20%;
}

.login{
  margin-top: 7%;
  height: auto;
  width: auto;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.formulario{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:25px;

}
.form{
  border-top: 1px solid #ababab  ;
}
.login h1{
  font-size:40px;
  margin-bottom: 40px;

}
.login input{
  margin:10px;
  width: 400px;
  height: 50px;
  font-size:15px;
  padding-left: 20px;
  border-radius: 0;
  border-top:  #f7f7f7;
  border-left: #f7f7f7;
  border-right: #f7f7f7;
  background-color: #f7f7f7;
}
.login input:hover{
  border-color: #0353E9;
}

.login input:focus{
  outline: 0;
  border-color:#0353E9;
  transition: 5s;
}

.login button{
  width: 420px;
  height: 50px;
  color: white;
  font-size: 20;
  text-align: left;
  padding-left:20px ;
  background-color: #0353E9; 
  margin:#0353E9;
  border:#fff;

}

.login button:hover{
  background-color: #0449c9; 
  cursor: pointer;
}
.login .error {

  color:red;
  text-align: left;
  font-size: 15px;
}
